:root {
  --primary-color: blue;
  --text-color: #fff;
}

.btn {
  --btn-color: var(--primary-color);
  --btn-text-color: var(--text-color);
  --btn-hover-color: color-mix(in oklab, var(--btn-color) 50%, white);
  background-color: var(--btn-color);
  color: var(--btn-text-color);

  &:hover {
    background-color: var(--btn-hover-color);
  }


&.btn-purple {
  --btn-color: purple;
  --btn-text-color: wheat;
  --btn-hover-color: red;
}

.btn-green {
  --btn-color: green;
  --btn-text-color: white;
  --btn-hover-color: lightgreen;
}

}

