<template id="coralite-header">
  <header>
    <div class="top-bar text-bg-dark">
      <div class="container">
      </div>
    </div>
    <nav class="navbar">
      <div class="container">
        <a class="navbar-brand" href="/" aria-current="page">
          <img class="navbar-logo" src="/assets/logo-light.svg" alt="Coralite logo" height="48">
        </a>
        <ul class="nav">
          <li><a class="nav-link" href="/docs/guide">Get started</a></li>
          <li><a class="nav-link" href="/docs/api">API</a></li>
          <li><a class="nav-link" href="/blog/">Blog</a></li>
        </ul>
      </div>
    </nav>
  </header>
</template>