.hero {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 60dvh;
  min-height: 713px;
  max-height: 740px;
  margin-bottom: 200px;
  background-image: url("/images/hero-background-sm.avif");
  background-position: bottom;
  background-size: cover;
  border-bottom: 5px solid var(--secondary);

  & .button-primary {
    background-color: var(--green-light);
  }
}

.hero-container {
  display: flex;
  flex-direction: column;
  justify-content: end;
  max-width: 600px;
  height: 100%;
  padding: 0;
  margin: 0 auto;
}

.hero-body {
  height: 65%;
  padding: var(--spacer-2);
  color: var(--light);
  background-image: radial-gradient(circle at bottom, var(--dark), var(--darker));
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
}

.hero-title {
  display: flex;
  flex-grow: 1;
  align-items: center;
  margin-bottom: 0;
  color: var(--dark);
}

.hero-subtitle {
  margin: 0;
  font-family: var(--font-body);
  font-size: var(--spacer-3);
  font-weight: 400;
}

.hero-border-bottom {
  position: absolute;
  top: 96%;
  left: 50%;
  transform: translate(-50%, -57%);
}
