.top-bar {
  height: 9vh;
  max-height: 128px;
  overflow: hidden;
  color: var(--light);
  background-color: var(--dark);
  background-image: var(--gradient-dark);

  & .container {
    position: relative;
    height: 100%;
    background-image: url("/assets/top-bar-coral-1.png"), url("/assets/top-bar-coral-2.png");
    background-repeat: no-repeat, no-repeat;
    background-position: 10% center, 90% center;
  }
}
