:root {
  color-scheme: light dark;

  /* colours */
  --primary: #d0ff00;
  --secondary-dark: rgb(49, 26, 75);
  --secondary: #754aaa;
  --light: #f9f9f9;
  --dark: rgb(49, 26, 75);
  --darker: rgb(6, 3, 8);
  --body-bg: light-dark(var(--light), var(--darker));
  --body-colour: light-dark(var(--darker), var(--light));
  --gradient-dark: linear-gradient(var(--secondary-dark), var(--dark));

  /* spacing */
  --spacer-base: 1rem;
  --spacer-1: calc(var(--spacer-base) - .3rem);
  --spacer-2: var(--spacer-base);
  --spacer-3: calc(var(--spacer-base) + .2rem);
  --spacer-4: calc(var(--spacer-base) + .5rem);
  --spacer-5: calc(var(--spacer-base) + 1rem);

  --padding-x: 1rem;
  --padding-y: .5rem;

  /* fonts */
  --font-body: "LilGrotesk", "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", geneva, verdana, sans-serif;
  --font-heading: "Young Serif", cambria, cochin, georgia, times, "Times New Roman", serif;
  --font-size: 20px;

  /* text */
  --line-height: 1.5;
  --heading-line-height: 1.2;

  /* border */
  --border-radius: .5rem;

  /* breakpoint */
  --breakpoint-y-sm: 825px;
}
